@import "../theme/shared/variables";

html,
body,
#host,
.shell {
  height: 100%;
}

.shell{
  main{
    height: 100%;
    
  }
}

header{
  background: white;
  padding: $spacing-small;
  img{
    height: 40px;
  }
}

.fixed-width{
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}